#root {
  height: 100vh;
  width: 100%;
  display: flex;
}


/*
Color Palette:
Light gray (#E6E6E6) White (#FFFFFF)

Completed: Pale green (#B1C98E) 
In Progress: Soft blue (#77A9D1)
Todos: Light purple (#B8A9C9)
*/