// color palette
$base: #333;
$words: #fff;
$button: #3172c1;

:global(body) {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Helvetica, sans-serif;
  background-color: $words;
}

nav {
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  background-color: $base;
  padding: 16px 16px;
  margin: auto;
}

li {
  display: flex;
  padding: 6px 8px;
}

a {
  padding: 10px;
  color: $words;
  background-color: $button;
  text-decoration: none;
  font-size: 13px;
  border-radius: 5px;
}

// classes
// .logo {
//   position: absolute;
//   // left: 20px;

// }