.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  justify-content: center;
  width: 750px;
  height: 750px;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(99, 126, 64);
  color: #ffffff;
  font-size: 1em;
}


ol {
  width: 100%;
}

li {
  text-align: left;
}

/* Calendar */

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid black;
  border-radius: 6px;
  padding: 10px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 30px);
}

.week {
  flex-direction: row;
  display: flex;
}

.day {
  padding: 10px;
  width: 25px;
  text-align: center;
}

.day:hover {
  background-color: lightgray;
  cursor: pointer;
}


/* Tic Tac Toe */

.toe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.toe-row {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.toe-cell {
  height: 30px;
  width: 40px;
  padding: 20px;
  align-items: center;
  border: .5px solid black;
}

.board-container {
  margin-bottom: 16px;
}

/* Poker */

.poker-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 12px;
}
.card {
  height: 200px;
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 10px;
}


/* Light Container */
.container-l {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 170px;
  background-color: #000000;
  padding: 12px;
}

.light {
  border-radius: 75px;
  height: 40px;
  width: 40px;
  background-color: grey;
  margin-bottom: 10px;
}